.zr-calendar-wrap,
.zr-calendar-wrap * {
    box-sizing: border-box;
}
.zr-calendar-wrap {
    position: fixed;
    padding: 4px 5px 5px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ccc;
    box-shadow: 0 0 7px #bbb;
    z-index: 999;
}
.zr-calendar-table {
    position: relative;
    width: 100%;
}
.zr-calendar-table>tbody>tr>td {
    padding: 2px;
    text-align: center;
    height: 28px;
}
.zr-calendar-table .empty {
    color: #aaa;
}
.zr-calendar-table .dayer {
    cursor: pointer;
}
.zr-calendar-table .txt {
    display: inline-block;
    line-height: 24px;
    width: 24px;
    height: 24px;
    text-align: center;
}
.zr-calendar-table .cur .txt {
    color: #fff;
    font-weight: bold;
    background-color: #188eee;
    border-radius: 50%;
}
.zr-calendar-header {
    position: relative;
    padding: 0 40px;
    height: 30px;
    text-align: center;
}
.zr-calendar-header .year-prev-btn {
    position: absolute;
    top: 0;
    left: 6px;
    width: 14px;
    height: 100%;
    background: transparent;
}
.zr-calendar-header .month-prev-btn {
    position: absolute;
    top: 0;
    left: 22px;
    width: 14px;
    height: 100%;
    background: transparent;
}
.zr-calendar-header .year-next-btn {
    position: absolute;
    top: 0;
    right: 6px;
    width: 14px;
    height: 100%;
    background: transparent;
}
.zr-calendar-header .month-next-btn {
    position: absolute;
    top: 0;
    right: 22px;
    width: 14px;
    height: 100%;
    background: transparent;
} 
.zr-calendar-header .month-prev-btn:before,
.zr-calendar-header .year-prev-btn:before,
.zr-calendar-header .year-prev-btn:after,
.zr-calendar-header .month-next-btn:before,
.zr-calendar-header .year-next-btn:before,
.zr-calendar-header .year-next-btn:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto 0;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 6px solid #bbb;
}
.zr-calendar-header .year-prev-btn:after {
    left: 6px;
}
.zr-calendar-header .month-prev-btn:before {
    right: 0;
    margin: auto;
}
.zr-calendar-header .month-next-btn:before,
.zr-calendar-header .year-next-btn:before,
.zr-calendar-header .year-next-btn:after {
    left: auto;
    right: 0;
    border-left: 6px solid #bbb;
    border-right: 0;
}
.zr-calendar-header .year-next-btn:after {
    right: 6px;
}
.zr-calendar-header .month-next-btn:before {
    left: 0;
    margin: auto;
}
.zr-calendar-header .header-cont {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}
.zr-calendar-header .header-cont>span {
    display: table-cell;
    width: 50%;
    height: 100%;
    line-height: 1;
    font-weight: bold;
    vertical-align: middle;
    cursor: pointer;
}
.zr-calendar-header .header-cont>span:first-child {
    text-align: right;
}
.zr-calendar-header .header-cont>span:first-child+span {
    text-align: left;
    padding-left: 10px;
}
.zr-calendar-cont {
    position: relative;
    width: 100%;
}
.zr-calendar-year-mode,
.zr-calendar-month-mode {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.zr-calendar-year-mode .year-mode-list,
.zr-calendar-month-mode .month-mode-list {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.zr-calendar-year-mode .year-mode-list>li,
.zr-calendar-month-mode .month-mode-list>li {
    position: relative;
    float: left;
    width: 25%;
    height: 38px;
    padding: 2px;
}
.zr-calendar-year-mode .year-mode-list span,
.zr-calendar-month-mode .month-mode-list span {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #bbb;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    transition: border-color .4s, color .4s;
}
.zr-calendar-year-mode .year-mode-list>li.cur span,
.zr-calendar-month-mode .month-mode-list>li.cur span {
    border-color: #188eee;
    background-color: #188eee;
    color: #fff;
}
.zr-calendar-year-mode .year-mode-list span:hover,
.zr-calendar-month-mode .month-mode-list span:hover {
    border-color: #188eee;
    color: #188eee;
}
.zr-calendar-wrap .year-header {
    position: relative;
    width: 100%;
    height: 30px;
    padding: 0 30px;
}
.zr-calendar-wrap .year-header .t {
    text-align: center;
    line-height: 30px;
    font-weight: bold;
}
.zr-calendar-wrap .year-header .year-prev,
.zr-calendar-wrap .year-header .year-next {
    position: absolute;
    top: 0;
    left: 6px;
    width: 10px;
    height: 100%;
    background: transparent;
}
.zr-calendar-wrap .year-header .year-next {
    left: auto;
    right: 6px;
}
.zr-calendar-wrap .year-header .year-prev:after,
.zr-calendar-wrap .year-header .year-next:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
.zr-calendar-wrap .year-header .year-prev:after {
    border-right: 6px solid #bbb;
}
.zr-calendar-wrap .year-header .year-next:after {
    border-left: 6px solid #bbb;
}
.zr-calender-footer {
    position: relative;
    padding: 8px 2px 2px 0;
    width: 100%;
    text-align: right;
}
.zr-calender-footer button {
    padding: 0 8px;
    height: 20px;
    font-size: 12px;
    line-height: 1;
    margin-left: 10px;
    background-color: #fff;
    border: 1px solid #188eee;
    border-radius: 11px;
}
.zr-calender-footer .confirm-btn {
    color: #188eee;
}
.zr-calender-footer .today-btn {
    color: #188eee;
}
.zr-calender-footer .cancel-btn {
    color: #999;
    border-color: #ccc;
}
.zr-calender-footer .confirm-btn:hover,
.zr-calender-footer .today-btn:hover {
    background-color: #188eee;
    color: #fff;
}
.zr-calendar-time-mode {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 1px;
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 0 0 7px #ccc;
}
.zr-calendar-time-mode .zr-calendar-time-wrap {
    position: relative;
    width: 205px;
    padding: 15px 10px;
    overflow: hidden;
}
.zr-calendar-time-mode.only-time-wrap {
    position: relative;
    width: 100%;
    left: 0;
    border: 0;
    box-shadow: none;
}
.zr-calendar-time-mode .zr-calendar-time-wrap:before,
.zr-calendar-time-mode .zr-calendar-time-wrap:after {
    content: ":";
    display: block;
    position: absolute;
    top: 0;
    left: 33.333333333%;
    margin-left: -3px;
    width: 6px;
    height: 98px;
    line-height: 98px;
    font-size: 18px;
    text-align: center;
}
.zr-calendar-time-mode .zr-calendar-time-wrap:after {
    left: 66.666666666%;
}
.zr-calendar-time-mode .time-list {
    position: relative;
    float: left;
    width: 33.333333333%;
    padding: 0 12px;
}
.zr-calendar-time-mode .time-list button {
    position: relative;
    width: 100%;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #fff;
}
.zr-calendar-time-mode .time-list p {
    width: 100%;
    height: 34px;
    line-height: 34px;
    text-align: center;
}
.zr-calendar-time-mode .time-list button:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #ccc;
}
.zr-calendar-time-mode .time-list button:first-child:before {
    border-top: 0;
    border-bottom: 5px solid #ccc;
}
.zr-calendar-date-info {
    position: relative;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}
.zr-calendar-time-mode.only-time-wrap .zr-calendar-date-info {
    padding-left: 0;
}
.zr-calendar-date-info .c-day-info {
    float: left;
    line-height: 1;
}
.zr-calendar-date-info .c-year-info {
    float: right;
    padding-top: 17px;
    line-height: 1;
}
.zr-calendar-date-info .c-day-info .t {
    font-size: 34px;
    margin: 0 9px 0 0;
}
.zr-calendar-date-info .c-day-info .n {
    padding-top: 15px;
}
.zr-calendar-date-info .t {
    float: left;
    color: #188eee;
    margin: 0 3px;
}
.zr-calendar-date-info .n {
    float: left;
    color: #888;
}
.zr-calendar-time-num {
    position: relative;
    width: 205px;
}
.zr-calendar-time-num .zr-calendar-num-txt {
    position: relative;
    width: 100%;
    height: 32px;
    line-height: 32px;
    text-align: center;
}
.zr-calendar-time-num .time-num-table {
    width: 100%;
    table-layout: fixed;
}
.zr-calendar-time-num .time-num-table td {
    text-align: center;
    height: 28px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color .3s;
}
.zr-calendar-time-num .time-num-table td:hover {
    background-color: #efefef;
}
.zr-calendar-time-num .time-num-table td.cur span {
    color: #fff;
}
.zr-calendar-time-num .time-num-table td.cur {
    background-color: #188eee;
}